<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<context-param>
		<param-name>dburl</param-name>
		<param-value>jdbc:mysql://localhost:3306/jee_training</param-value>
	</context-param>

	<context-param>
		<param-name>dbuser</param-name>
		<param-value>root</param-value>
	</context-param>

	<context-param>
		<param-name>dbpasword</param-name>
		<param-value>admin</param-value>
	</context-param>

	<servlet>
		<init-param>
			<param-name>msg</param-name>
			<param-value>MyinitparamValue</param-value>
		</init-param>
		<init-param>
			<param-name>temp</param-name>
			<param-value>1000</param-value>
		</init-param>
		<servlet-name>configdemo</servlet-name>
		<servlet-class>com.training.ServletConfigDemo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>configdemo</servlet-name>
		<url-pattern>/config</url-pattern>
	</servlet-mapping>
















</web-app>